<% include ./partials/header %>

    <!-- Header -->
    <div id="header">

        <div class="top">

            <!-- Logo -->
            <div id="logo">
                <span class="image avatar48">
                    <img src="img/andrea.jpg" alt="" />
                </span>
                <h1 id="title">Andrea Denise</h1>
                <p>Comic Creator</p>
                <a href="/new" style="font-size: 14px;">Add New Artwork/Comic</a>
                <br>
                <a href="/logout" style="font-size: 14px;">Logout</a>
            </div>

            <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li>
                        <a href="#top" id="top-link">
                            <span class="icon fa-home">Intro</span>
                        </a>
                    </li>
                    <li>
                        <a href="#portfolio" id="portfolio-link">
                            <span class="icon fa-th">Comics</span>
                        </a>
                    </li>
                    <li>
                        <a href="#about" id="about-link">
                            <span class="icon fa-user">Art</span>
                        </a>
                    </li>
                    <li>
                        <a href="#contact" id="contact-link">
                            <span class="icon fa-envelope">Contact</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>

        <div class="bottom">

            <!-- Social Icons -->
            <ul class="icons">
                <li>
                    <a href="https://www.instagram.com/dyzzyspells/" target="_blank" class="icon fa-instagram">
                        <span class="label">Instagram</span>
                    </a>
                </li>

                <li>
                    <a href="https://www.github.com/rslol" class="icon fa-github">
                        <span class="label">Github</span>
                    </a>
                </li>

                <li>
                    <a href="#contact" id="contact-link" class="icon fa-envelope">
                        <span class="label">Email</span>
                    </a>
                </li>
            </ul>

        </div>

    </div>

    <!-- Main -->
    <div id="main">

        <!-- Intro -->
        <section id="top" class="one dark cover">
            <div class="container">
                <header>
                    <h2 class="alt">Welcome to
                        <strong>Drea's Corner!</strong>
                    </h2>
                    <p>Welcome to the Admin Side, where you can update your comics</p>
                </header>
            </div>
        </section>

        <!-- Portfolio -->
        <section id="portfolio" class="two">
            <div class="container">

                <header>
                    <h2>My Webcomics</h2>
                </header>

                <p>My webcomics are based off of my everyday experiences. Come enjoy my awkwardness with me!</p>

                <div class="row">
                    <% comics.forEach((comic) => { %>
                        <div class="col-4 col-12-mobile">
                            <article class="item">
                                <a href="#" class="image fit">
                                    <img src="<%= comic.slideOne %>" alt="image" />
                                </a>
                                <header>
                                    <h3>
                                        <%= comic.title %>
                                    </h3>
                                    <p>
                                        <a href="/admin/<%= comic._id %>/read">Read More!</a>
                                    </p>
                                    <button><a href="/admin/<%= comic._id %>?_method=DELETE" method="POST">Delete</a></button>
                                </header>
                            </article>
                        </div>
                    <% }) %>
                </div>
            </div>
        </section>    
                        
                    
                                

        <!-- About Me -->
        <section id="about" class="three">
            <div class="container">

                <header>
                    <h2>My Art</h2>
                </header>

                <a href="#" class="image featured">
                    <img src="images/pic08.jpg" alt="" />
                </a>

                <p>A carefree black girl from Jacksonville, FL ready to showcase my awkward moments in life as art. That being said I'm artist,
                an illustrator, and a civil rights activist. If you like any of my comics or art, please reach out to me via the contact
                form below. Thank you! </p>
                <div class="row"> 
                    <% arts.forEach((art) => { %>
                        <div class="col-4 col-12-mobile">
                            <article class="item" style="margin-top: 15px;">
                                <a href="#" class="image fit">
                                    <img src="<%= art.art %>" alt="image" />
                                </a>
                                <p><%= art.title %></p>
                                <div>
                                    
                                    <button><a href="/admin/<%= art._id %>?_method=DELETE" method="POST">Delete</a></button>
                                </div>
                            </article>
                        </div>
                    <% }) %>
                </div>
            </div>
        </section>
                                   
                            


        <!-- Contact -->
        <section id="contact" class="four">
            <div class="container">

                <header>
                    <h2>Contact</h2>
                </header>

                <p>So if you like what you see and you want to reach out and talk to me, please contact me here through this form and I will
                check my emails as soon as possible. This also includes commissions and job opportunities. Dont' be shy, contact me!</p>

                <form method="post" action="#">
                    <div class="row">
                        <div class="col-6 col-12-mobile">
                            <input type="text" name="name" placeholder="Name" />
                        </div>
                        <div class="col-6 col-12-mobile">
                            <input type="text" name="email" placeholder="Email" />
                        </div>
                        <div class="col-12">
                            <textarea name="message" placeholder="Message"></textarea>
                        </div>
                        <div class="col-12">
                            <input type="submit" value="Send Message" />
                        </div>
                    </div>
                </form>

            </div>
        </section>

    </div>

    <!-- Footer -->
    <div id="footer">

        <!-- Copyright -->
        <ul class="copyright">
            <li>&copy; Created by Richard Shelton</li>
        </ul>

    </div>

    <!-- Scripts -->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.scrolly.min.js"></script>
    <script src="js/jquery.scrollex.min.js"></script>
    <script src="js/browser.min.js"></script>
    <script src="js/breakpoints.min.js"></script>
    <script src="js/util.js"></script>
    <script src="js/main.js"></script>
    <script src="js/animation.js"></script>
    </body>

    </html>